Source: frith
Maintainer: Andrew Gallagher <andrewg@andrewg.com>
Section: main
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 10)

Package: frith
Architecture: all
Depends: gnupg, openssh-client, perl, libfile-homedir-perl, libdatetime-perl, libemail-valid-perl, libtry-tiny-perl, libemail-sender-perl, libemail-mime-perl, libswitch-perl, libterm-readkey-perl, perl-term-choose, libexpect-perl, python-gobject-2, python-gtk2, python-pil, python-zbar, python-zbarpygtk, python-qrencode, libio-socket-socks-wrapper-perl, libauthen-sasl-perl
Description: Offline PGP private key vault
	A tool to simplify best-practice PGP key management. Not recommended for use
	on general purpose machines (laptops/desktops/servers). Use Tails.
