Source: frith
Maintainer: andrewg@andrewg.com
Section: main
Priority: extra
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 10)

Package: frith
Architecture: all
Depends: gnupg, gnupg2, monkeysphere, openssh-client, perl, libfile-homedir-perl, libdatetime-perl, libemail-valid-perl, libterm-readkey-perl, perl-term-choose, libexpect-perl, tails-clone-persistent (>= 0.2.0)
Description: Offline PGP private key vault
  A tool to simplify best-practice PGP key management. Not recommended for use
  on general purpose machines (laptops/desktops/servers). Use Tails.
